<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    <typeAliases>
        <typeAlias type="edu.eci.cvds.entities.Usuario" alias="Usuario"/>
    </typeAliases>	

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-54-147-209-121.compute-1.amazonaws.com:5432/d3ud59c3cjglgo?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="egpwuhiroryigy" />
                <property name="password" value="25664ff8aa83598ca30242d722067e7e22c1916e26241cb4c27323d02f32424e" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/Usuario.xml"></mapper>
    </mappers> 
        
        
</configuration>
